/* قواعد CSS العامة */
@font-face {
    font-family: bodyfont;
    src: url(Cairo-VariableFont_slnt\,wght.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family:bodyfont;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
}
.nav{
    background-color: white;
}
.nav .img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 96px;
    margin-bottom: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

nav .figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
    margin-top: 5px;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

ul {
    list-style: none;
    
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: #000000;
    padding: 10px;
    font-size: 24px;
    font-weight: bolder;
    height: 100%;
}

ul li a:hover {
    text-decoration: underline;
    transition:0.7s;
}
.list-h {
    display: none;
}
.natega {
    height: 550px;
    margin-top: 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.natega h1 {
    font-size: 4rem;
    padding: 30px;
}

.natega label {
    font-size: 3rem;
    padding: 10px;
    margin: 10px;
}

.natega input {
    font-size: 2rem;
    padding: 5px;
    margin-bottom: 10px;
}

.natega button {
    font-size: 2rem;
    padding: 10px;
    background-color: #3969a0;
    color: aliceblue;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    
}

.natega button:hover {
    background-color:#016a78;
    transition:0.7s;
    color: aliceblue;
}

#result-container {
    font-size: 2rem;
    margin-top: 20px;
}

/* قواعد CSS للهواتف المحمولة */

@media (max-width: 767px) {
    .container {
        padding: 10px;
    }

    .nav .img {
        width: 40px;
        height: 40px;
        margin: 0 146px;
        margin-bottom: 5px;
    }

    nav .figcaption {
        font-size: 18px;
        margin-left: 5px;
    }

    ul {
        display: none;
    }

    .natega {
        margin-top: 9px;
    }

    .natega h1 {
        font-size: 30px;
        padding: 20px;
    }

    .natega label {
        font-size: 2rem;
        padding: 5px;
        margin: 5px;
    }

    .natega input {
        font-size: 1rem;
        padding: 3px;
        margin-bottom: 5px;
    }

    .natega button {
        font-size: 1.8rem;
        padding: 6px;
    }

    #result-container {
        font-size: 1.8rem;
        margin-top: 10px;
    }
}

@media (max-width: 767px) {
    .list-h {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        text-decoration: none;
        color: #000000;
        padding: 10px;
        font-size: 24px;
        font-weight: bolder;
        height: 100%;
        transition: background-color 0.3s ease;
        width: 100%;
        border-bottom: 2px solid rgb(61, 61, 75);
    }

    .list-h ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .list-h ul li{
        margin-bottom: 10px;
        padding: 10px;
    }

    .list-h ul li:first-child {
        margin-top: 20px;
    }
}
/* width */
::-webkit-scrollbar {
    width: 10px;
 }

 /* Track */
 ::-webkit-scrollbar-track {
   background: white; 
 }

 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: black; 
   border-radius: 10px;
 }

 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   transition: 7s;
   background: 
   #3e4b4d
   ; 
 }